<form action="login" method="post">
    <h1>Inicia sesión</h1>
    <h2>Bienvenido, inicia sesión</h2>
    <p>
        <input required type="email" name = "email" placeholder="Email">
    </p>
    <p>
        <input required type="password" name = "password" placeholder="Password">
    </p>
    <input type="submit">
</form>